In [ ]:
'''
1. Create a function to perform basic arithmetic operations that 
includes addition, subtraction, multiplication and 
division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. 
For the challenge, we are going to have only two numbers between 1 valid operator. 
The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1


'''

In [81]:
def arithmetic_operation(st):
    l=[]
    result=[]
    z=['+','-','*','//']
    result1=0
    try:
        l=st.split()
        if l[-1]=='0' and l[-2]=='//':
            print('Division operation cannot be performed')
            return -1
        else:
            for i in range(len(l)):
                if l[i] in z:
                    b1=l[i]
                else:
                    result.append(int(l[i]))
            result1=operations(b1,result)
            return result1
                
    except Exception as e:
        print('There is some problem with this set of code',e)

        
def operations(str1,a1):
    try:
        #rint(str1)
        #print(a1)
        if len(a1)==2:
            a=a1[0]
            b=a1[1]
            #print(a)
            #print(b)
            if str1=='+':
                return (a + b)
            elif str1=='-':
                return (a-b)
            elif str1=='*':
                return (a*b)
            elif str1=='//':
                return (a//b)
            else:
                print('Given operation cannot be performed',e)
        else:
            print('There is some error in sending input parameters')
    except Exception as e:
        print('There is some problems with this type of code',e)

In [82]:
arithmetic_operation("12 + 12")

24

In [83]:
arithmetic_operation("12 - 12")

0

In [84]:
arithmetic_operation("12 * 12")

144

In [85]:
arithmetic_operation("12 // 0")

Division operation cannot be performed

-1

In [ ]:
'''
2. Write a function that takes the coordinates of three points in the form of a 2d array 
and returns the perimeter of the triangle. 
The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

'''

In [86]:
def perimeter(*args):
    try:  
        if len(args[0]) >3:
            print('Traingle has only 3 coordinates (or) input format is wrong!!!')
        else:
            x1=args[0][0]
            y1=args[0][1]
            z1=args[0][2]
            a=distance(x1,y1)
            b=distance(y1,z1)
            c=distance(x1,z1)
            #print(a)
            #print(b)
            #print(c)
            result=a+b+c
            return round(result,2)
    except Exception as e:
        print('There is some problem with this set of code',e)
        
        

def distance(l,m):
    try:  
        x=int(l[0])-int(m[0])
        y=int(l[1])-int(m[1])
        result=(x**2 + y**2)**(1/2)
        return result
    except Exception as e:
        print('There is some problem with this set of code',e)

In [87]:
perimeter( [ [15, 7], [5, 22], [11, 1]] )
#➞ 47.08

47.08

In [88]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) 
#➞ 3.42

3.41

In [89]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) 
#➞ 68.28

68.28

In [ ]:
'''
3. A city skyline can be represented as a 2-D list with 1s representing buildings. 
In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) 
and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

'''

In [90]:
def tallest_skyscraper(*args):
    x=args
    k=0
    n=True
    f=[]
    try:
        while (n==True):
            for i in range(len(x)):
                result=0
                for j in range(len(x[i])):
                    v=len(x[i][j])
                    result+=x[i][j][k]
                f.append(result)
                k=k+1
            if k==v:
                n=False
                break
            #print(f)
        return max(f)
            
    except Exception as e:
        print('There is some problem with this set of code',e)

In [91]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) 
#➞ 3

3

In [92]:
tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) #➞ 4

4

In [93]:
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) #➞ 2

2

In [133]:
tallest_skyscraper([[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]])

4

In [ ]:
'''
4. A financial institution provides professional services to banks and claims charges from the
customers based on the number of man-days provided. Internally, it has set a scheme to motivate 
and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus 
for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days 
per quarter, and the incentive payment for each billable day in excess of such threshold target 
is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, 
if an employee reached total billable days of 45 in a quarter, his/her incentive payment is 
computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and 
return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

'''

In [3]:
def bonus(num):
    bonus=0
    num1=0
    try:
        if num <=32:
            bonus=0
            result=0
        elif num>32 and num<=40:
            bonus=325
            num1=num-32
            result=bonus*num1
        elif num>40 and num<=48:
            bonus=550
            num1=num-40
            result =8*325+num1*bonus
        else:
            bonus=600
            num1=num-48
            result = 8*325+8*550+num1*bonus
        return result
    except Exception as e:
        print('There is some problem with this set of code',e)

In [4]:
bonus(15) #➞ 0

0

In [5]:
bonus(37) #➞ 1625

1625

In [6]:
bonus(50) #➞ 8200

8200

In [ ]:
'''
5. A number is said to be Disarium if the sum of its digits raised to
their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

'''

In [55]:
def is_disarium(num):
    try:
        result =0
        #print('ksdhf')
        if type(num) == int:
            #print('jkshgkjsg')
            n1=num
            z=list(str(num))
            #print(z)
            for i in range(len(z)):
                result+=int(z[i])**(i+1)
            print(result)
            if n1 == result:
                return True
            else:
                return False
    except Exception as e:
        print('There is some problem with the code',e)

In [56]:
is_disarium(544)

85

False

In [57]:
is_disarium(75)

32

False

In [58]:
is_disarium(135)

135

True

In [59]:
is_disarium(518)

518

True

In [60]:
is_disarium(466)

256

False

In [61]:
is_disarium(8)

8

True